*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-section{
    width: 100vw;
    height: 100vh;
    

}
.contact-box{
    display: flex;
    
    justify-content: space-around;
    width: 60%;
    height: 89%;
    margin: auto;
    place-items: center;
}
.cont-container, .contact-form{
    width: 50%;
    height: 50%;
    margin: 0 1.5em;
}
.cont-container{
    padding: 10px 0;
}
.cont-container p{
    font-size: 1.4rem;
    
}
.cont-container #right-arrow{
    font-size: 2rem;
    
    
}

.cont-container > div{
    margin:20px 0;
}
.contact-form legend{
    text-transform: uppercase;
    margin: 3px 5px;
}
.contact-form .input{
    width: 100%;
    height: 30px;
    padding:0 10px;
    border-radius: 5px;
    border-width: 1px;

}
.contact-form .textarea-input{
    width: 100%;
    padding: 5px 10px;
    resize: none;
    border-radius: 5px;
}
.contact-form fieldset{
    border: none;
    margin: 10px 0;
    
}
.contact-form .submit-group{
    align-items: center;
    text-align: center;
}
.contact-form .submit-bttn{
    font-size: 1em;
    width: 100px;
    height: 32px;
}

#footer{
    width: 100vw;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.468);
    display: flex;
    justify-content: space-around;
    place-items: center;
}

/* ========= RESPONSIVENESS STARTS HERE ========= */
@media (max-width:1050px) {
    .contact-box{
        width: 70%;
    }
}
@media (max-width:1000px) {
    .contact-box{
        width: 75%;
    }
}
@media (max-width:850px) {
    .contact-box{
        width: 80%;
    }
}
@media (max-width:650px) {
    .contact-box{
        width: 90%;
    }
}
@media (max-width:600px) {
    .contact-box{
        display: block;
        width: 100%;
        justify-content:center;
        margin:0;
        place-items: center;
    }
    .cont-container, .contact-form{
        align-self: center;
        width: 90%;
        height: 38%;
        margin: 0 1.5em;
    }
    .contact-form .textarea-input{
        width: 90vw;
        height: 140px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .cont-container h1{
        text-align: center;
    }
    #right-arrow{
        transform: rotate(90deg);
        display: inline-block;
        padding-left: 22px;
    }
}

@media (max-height:950px) {
    .contact-box{
        height:92%;
    }
    #footer{
        height:8%;
    }
    
}
